<template>
    <!-- Pagination component -->
    <Paginate
        v-model="currentPage"
        :page-count="pageCount"
        :page-range="pageRange"
        :margin-pages="marginPages"
        :prev-text="'<'"
        :next-text="'>'"
        :container-class="''"
        :page-class="'pagination-span'"
        :active-class="'pagination-span-active'"
        :prev-class="'pagination-arrow'"
        :next-class="'pagination-arrow'"
        :click-handler="goToPage"
    >
    </Paginate>
</template>

<script>
import Paginate from "vuejs-paginate-next";

export default {
    components: {
        Paginate,
    },
    data() {
        return {
            allData: [],
            currentPage: 1,
            perPage: 20,
            pageRange: 3,
            marginPages: 1,
        };
    },
    props: {
        data: Object,
    },
    computed: {
        // Calculate the total number of pages
        pageCount() {
            return Math.ceil(this.allData.total / this.perPage);
        },
    },
    methods: {
        // Handle page change
        goToPage(page) {
            // Parse the current URL to get its parameters
            const url = new URL(window.location.href);
            const params = new URLSearchParams(url.search);

            // Check if 'page' parameter already exists
            if (!params.has('page')) {
                // If 'page' parameter doesn't exist, add it
                params.append('page', page);
            } else {
                // If 'page' parameter already exists, update its value
                params.set('page', page);
            }

            // Set the updated parameters back to the URL
            url.search = params.toString();

            // go
            window.location.href = url.href;
        },
    },
    mounted: function () {
        this.allData = this.data;
        this.perPage = this.allData.per_page
        this.currentPage = this.allData.current_page;
    }
};
</script>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
  float: left;
  margin-left: 1rem;
}
a {
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.pagination-span {
    background-color: transparent;
    width: 28px;
    height: 28px;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
}
.pagination-span-active {
    background-color: rgba(40, 207, 177, 1);
    width: 28px;
    height: 28px;
    font-size: 13px;
    font-weight: 600;
    border-radius: 6px;
    color: white;
}
.pagination-arrow {
    font-size: 18px;
    color: rgba(224, 224, 224, 1);
    cursor: pointer;
}
</style>
